@model Marsymp.Models.ORM.Entity.Survey

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MarSymp</title>
    <!-- plugins:css -->
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->

    <link href="~/Content/css/shared/style.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- Layout styles -->
    <link href="~/Content/css/demo_1/style.css" rel="stylesheet" />
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="" />


</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12  p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="../../index.html">
                    <img src="~/Content/images/logo.png" alt="logo" />
                </a>

            </div>

        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">

            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">


                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="profile-image">
                                <img class="img-xs rounded-circle" src="~/Content/images/login.png" alt="profile image">
                                <div class="dot-indicator bg-success"></div>
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name">Welcome @ViewBag.User</p>
                                <p class="designation">@ViewBag.Email</p>
                            </div>
                        </a>
                    </li>



                    <li class="nav-item nav-category">Main Menu</li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Survey/Analysis">
                            <i class="menu-icon typcn typcn-th-large-outline"></i>
                            <span class="menu-title">Company Analysis</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon typcn typcn-coffee"></i>
                            <span class="menu-title">Dashboards</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="~/Survey/Plan">Monthly Plan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Dropdowns</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../../pages/ui-features/typography.html">Typography</a>
                                </li>
                            </ul>
                        </div>
                    </li>




                </ul>
            </nav>



            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">

                        <div class="col-md-12 grid-margin">
                            <div class="p-4 border-bottom bg-light">
                                <div class="card-body">
                                    <h4 class="card-title">Monthly Digital Marketing Roadmap </h4>

                                    <table class="table table-bordered">

                                        <tbody>
                                            <p style="text-align:center; color:red;">@ViewBag.BA_P1</p>
                                            <tr>
                                                <td><b> Goals  </b> </td>
                                                <td><b> Recommended Digital Marketing Channels  </b> </td>
                                                <td><b>Monthly Budget  </b>  </td>
                                            </tr>
                                            <tr>

                                                <td id="ba">  @Html.DisplayFor(user => user.Brand_Awareness)  </td>
                                                <td>  @ViewBag.Brand_Awareness </td>
                                                <td>   @ViewBag.case1@ViewBag.case31@ViewBag.case61@ViewBag.case11@ViewBag.case32@ViewBag.case62@ViewBag.case12@ViewBag.case63@ViewBag.case13@ViewBag.case14</td>
                                            </tr>
                                            <tr>

                                                <td id="lg">  @Html.DisplayFor(user => user.Lead_Generation)   </td>
                                                <td>  @ViewBag.Lead_Gen1<br /> <br />@ViewBag.Lead_Gen2   </td>
                                                <td>  @ViewBag.lg1@ViewBag.lead31@ViewBag.lead61@ViewBag.lead11@ViewBag.lead32@ViewBag.lead62@ViewBag.lead12@ViewBag.lead63@ViewBag.lead13@ViewBag.lead14  </td>
                                            </tr>
                                            <tr>
                                                <td id="sg">  @Html.DisplayFor(user => user.Sales_Generation) </td>
                                                <td>  @ViewBag.Sales_Gen  </td>
                                                <td>  @ViewBag.sales1@ViewBag.sales31@ViewBag.sales61@ViewBag.sales11@ViewBag.sales32@ViewBag.sales62@ViewBag.sales12@ViewBag.sales63@ViewBag.sales13@ViewBag.sales14  </td>
                                            </tr>
                                            <tr>

                                                <td id="tg">  @Html.DisplayFor(user => user.Traffic_Generation)  </td>
                                                <td>  @ViewBag.Traffic_Gen@ViewBag.Traffic_Gen1 </td>
                                                <td>  @ViewBag.traf1@ViewBag.traf31@ViewBag.traf61@ViewBag.traf11@ViewBag.traf32@ViewBag.traf62@ViewBag.traf12@ViewBag.traf63@ViewBag.traf13@ViewBag.traf14 </td>
                                            </tr>
                                            <tr>
                                                <td> Strategy Start Date </td>
                                                <td>@Html.DisplayFor(user => user.Start_Date)  </td>
                                                <td>   </td>
                                            </tr>
                                        </tbody>

                                    </table>

                                    <p style="margin-top:20px; float:right; display:inline;"><a href="/survey/roadmap">Click here to see your monthly digital marketing plan!</a></p><br /><br />

                                </div>
                            </div>
                        </div>





                        <div class="col-md-12 grid-margin">
                            <div class="p-4 border-bottom bg-light">
                                <div class="card-body">
                                    <h4 class="card-title"> Monthly Budget Plan Per Channel </h4>

                                    <table class="table table-bordered">

                                        <tbody>
                                            <tr>
                                                <td style="width:50%"><b> @Html.DisplayFor(user => user.Brand_Awareness) </b> </td>


                                            </tr>

                                        </tbody>

                                    </table>
                                    <table class="table table-bordered">

                                        <tbody>
                                            <tr>
                                                <td style="width:33%">@ViewBag.ba_array1 </td>
                                                <td style="width:33%">@ViewBag.ba_array2  </td>
                                                <td style="width:33%">@ViewBag.ba_array3 </td>

                                            </tr>
                                            <tr>
                                                <td style="width:33%">@ViewBag.BA_P1@ViewBag.case1@ViewBag.plan1@ViewBag.plan2</td>
                                                <td style="width:33%">@ViewBag.case1@ViewBag.plan1@ViewBag.plan2</td>
                                                <td style="width:33%">@ViewBag.case1@ViewBag.plan2</td>

                                            </tr>

                                        </tbody>



                                    </table><br />

                                    <table class="table table-bordered">

                                        <tbody>
                                            <tr>
                                                <td style="width:50%"><b> @Html.DisplayFor(user => user.Lead_Generation) </b> </td>


                                            </tr>

                                        </tbody>

                                    </table>
                                    <table class="table table-bordered">

                                        <tbody>
                                            <tr>
                                                <td style="width:33%">@ViewBag.lg_array1 </td>
                                                <td style="width:33%">@ViewBag.lg_array2 </td>
                                                <td style="width:33%">@ViewBag.lg_array3 </td>
                                                <td style="width:33%">@ViewBag.lg_array4 </td>
                                                <td style="width:33%">@ViewBag.lg_array5 </td>

                                            </tr>
                                            <tr>
                                                <td style="width:33%">@ViewBag.BA_P1@ViewBag.lead1@ViewBag.lead2@ViewBag.lead3</td>
                                                <td style="width:33%">@ViewBag.BA_P1@ViewBag.lead1@ViewBag.lead2@ViewBag.lead3</td>
                                                <td style="width:33%">@ViewBag.BA_P1@ViewBag.lead1@ViewBag.lead2@ViewBag.lead3</td>
                                                <td style="width:33%">@ViewBag.BA_P1@ViewBag.lead2@ViewBag.lead3</td>
                                                <td style="width:33%">@ViewBag.BA_P1@ViewBag.lead3</td>
                                            </tr>

                                        </tbody>



                                    </table><br />




                                    <table class="table table-bordered">

                                        <tbody>
                                            <tr>
                                                <td style="width:50%"><b> @Html.DisplayFor(user => user.Sales_Generation) </b> </td>


                                            </tr>

                                        </tbody>

                                    </table>
                                    <table class="table table-bordered">

                                        <tbody>
                                            <tr>
                                                <td style="width:33%">@ViewBag.Sales_Gen </td>


                                            </tr>
                                            <tr>

                                                <td style="width:33%">@ViewBag.sales1@ViewBag.sales31@ViewBag.sales61@ViewBag.sales11@ViewBag.sales32@ViewBag.sales62@ViewBag.sales12@ViewBag.sales63@ViewBag.sales13@ViewBag.sales14</td>
                                            </tr>

                                        </tbody>



                                    </table><br />

                                    <table class="table table-bordered">

                                        <tbody>
                                            <tr>
                                                <td style="width:50%"><b> @Html.DisplayFor(user => user.Traffic_Generation) </b> </td>


                                            </tr>

                                        </tbody>

                                    </table>
                                    <table class="table table-bordered">

                                        <tbody>
                                            <tr>
                                                <td style="width:33%">@ViewBag.Traffic_Gen@ViewBag.tf_array1</td>
                                                <td style="width:33%">@ViewBag.tf_array2</td>

                                            </tr>
                                            <tr>

                                                <td style="width:33%">@ViewBag.BA_P1@ViewBag.trafs@ViewBag.traf1@ViewBag.traf31@ViewBag.traf61@ViewBag.traf11@ViewBag.traf32@ViewBag.traf62@ViewBag.traf12@ViewBag.traf63@ViewBag.traf13@ViewBag.traf14</td>
                                                <td style="width:33%">@ViewBag.trafs</td>
                                            </tr>

                                        </tbody>



                                    </table>

                                    <p style="margin-top:20px; float:right; display:inline;"><a href="/survey/index">Update your monthly plan</a></p>
                                    <br />
                                    <br />

                                </div>
                            </div>
                        </div>






                        <div class="col-lg-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">

                                    <id id="pie-chart-legend" onload="myFunction" class="mr-4"></id>
                                </div>
                                <div class="card-body d-flex">
                                    <canvas class="my-auto" id="pieChart" height="130"></canvas>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">

                                    <div id="doughnut-chart-legend" class="mr-4"></div>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <canvas class="my-auto" id="doughnutChart" height="200"></canvas>
                                    <div class="d-flex mt-5 py-3 border-top">
                                        <p class="mb-0 font-weight-semibold"><span class="dot-indicator bg-success"></span> Email Marketing </p>
                                        <p class="mb-0 ml-auto text-primary">$2,464</p>
                                    </div>
                                    <div class="d-flex pt-3 border-top">
                                        <p class="mb-0 font-weight-semibold"><span class="dot-indicator bg-success"></span>PPC </p>
                                        <p class="mb-0 ml-auto text-primary">$1,325</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="" target="_blank">MarSymp</a>. All rights reserved.</span>


                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Content/js/dashboard/vendor.bundle.base.js"></script>
    <script src="~/Content/js/dashboard/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/Content/js/dashboard/off-canvas.js"></script>
    <script src="~/Content/js/dashboard/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Content/js/dashboard/chart.js"></script>
    <!-- End custom js for this page-->





</body>
</html>